DATABASE_URL="postgresql://hr_admin:your_secure_password@localhost:5432/hr_core_db?schema=public"
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="7d"
PORT=3001
N8N_WELCOME_WEBHOOK_URL="http://localhost:5678/webhook/it-provisioning"

# Recruitment & n8n Integration (Day 2)
N8N_API_KEY="change_me_generate_with_openssl_rand_hex_32"
N8N_CV_WEBHOOK="http://localhost:5679/webhook/process-cv"
BACKEND_INTERNAL_URL="http://host.docker.internal:3001"
