DATABASE_URL="postgresql://hr_admin:your_secure_password@localhost:5432/hr_core_db?schema=public"
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="7d"
PORT=3001
N8N_WELCOME_WEBHOOK_URL="http://localhost:5679/webhook-test/user-registered"
